# Playbook file inside ansible/playbooks/
PLAYBOOK_NAME=ubuntu.yaml

# Required
TAILSCALE_AUTH_KEY=tskey-auth-xxxxxxxxxxxxxxxx

# Optional
TAILSCALE_ADVERTISE_EXIT_NODE=false
ANSIBLE_DEPRECATION_WARNINGS=False

# Optional: if set, script will not ask for --ask-become-pass
# WARNING: plain text password in .env has security risks
# ANSIBLE_BECOME_PASS=your_sudo_password
